@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0284c7;
  --primary-dark: #0369a1;
  --secondary: #0e7490;
}

html, body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}
